<h3 style="margin-left: 200px">Properties</h3>

<p>
    <button tooltip="Tooltip on top" placement="top" style="margin-left: 200px">Tooltip on top</button>
</p>
<p>
    <button tooltip="Tooltip on right" placement="right" style="margin-left: 200px">Tooltip on right</button>
</p>
<p>
    <button tooltip="Tooltip on left" placement="left" style="margin-left: 200px">Tooltip on left</button>
</p>
<p>
    <button tooltip="Tooltip on bottom" placement="bottom" style="margin-left: 200px">Tooltip on bottom</button>
</p>
